.topic{
	/*position: absolute;*/
	padding-top:3rem;
	margin: 5rem;
	/*top:10rem;*/
}
.topic h1{
	text-align: left;
}
.topic p{
	text-align: left;
}

.topic img{
	max-width:30rem;
	max-height:30rem;
	border-radius: 1rem;
}